<!-- Clients Section -->
<section id="clients" data-aos="zoom-out" data-aos-duration="3000">
    <h2 class="title">Trusted By Awesome <span>Clients<span></h2>
    <div class="logo_container">
        <div class="logo">
            <img src="<%= asset_path "binance_logo_white.svg" %>" alt="Binance Logo" />
            <span>Binance</span>
        </div>
        <div class="logo">
            <img src="<%= asset_path "bitcoin_logo.svg" %>" alt="Bitcoin Logo" />
            <span>Bitcoin</span>
        </div>
        <div class="logo">
            <img src="<%= asset_path "solana_logo.svg" %>" alt="Solana Logo" />
            <span>Solana</span>
        </div>
        <div class="logo">
            <img src="<%= asset_path "ethereum_logo.svg" %>"  alt="Ethereum Logo" />
            <span>Ethereum</span>
        </div>
        <div class="logo">
            <img src="<%= asset_path "thether_logo.svg" %>" alt="Thether Logo" />
            <span>Thether</span>
        </div>
        <div class="logo">
            <img src="<%= asset_path "xrp_logo.svg" %>" alt="XRP Logo" />
            <span>XRP</span>
        </div>
    </div>
</section>