<div class="gradient_background">
    <div class="container">
        <%= render partial: "/home/partials/hero" %>
        <%= render partial: "/home/partials/commitment" %>
        <%= render partial: "/home/partials/client" %>
    </div>
</div>

<div class="slanted_box">
    <div class="container">
        <%= render partial: "/home/partials/explore" %>
        <%= render partial: "/home/partials/reason" %>
    </div>
</div>

<%= render partial: "/home/partials/testimonial" %>
<%= render partial: "/home/partials/faq" %>